:root {
    color-scheme: light dark;
}
body {
    background-color: var(--background-color);
    overscroll-behavior-y: contain;
}
.col-sm-12 {
    background-color: var(--article-background-color);
    box-shadow: 5px 10px 8px 10px #111111;
    color: var(--color);
}
.article {
    position: static;
    line-height: 1.6;
    font-size: 15px;
}
.card-body {
    background-color: var(--card-background-color) !important;
}
