    @media (prefers-color-scheme: dark) {

        body {
            background-color: #323233;
        }

        .col-sm-12 {
            background-color: #4a4a4d;
            box-shadow: 5px 10px 8px 10px #111111;
            color: #d7d7d7;
        }
    }

    @media (prefers-color-scheme: light) {

        body {
            background-color: #ffffff;
        }

        .col-sm-12 {
            background-color: #D8DAE2;
            box-shadow: 5px 10px 8px 10px #111111;
            color: #000000;
        }
    }
@media (prefers-color-scheme: no-preference) {

        body {
            background-color: #ffffff;
        }

        .col-sm-12 {
            background-color: #D8DAE2;
            box-shadow: 5px 10px 8px 10px #111111;
            color: #000000;
        }
    }

    .article {
        position: static;
        line-height: 1.6;
        font-size: 15px;
    }