:root {
    color-scheme: light dark;
    --dark-mode-toggle-light-icon: "none";
    --dark-mode-toggle-dark-icon: "none";
}
body {
    background-color: var(--background-color);
    overscroll-behavior-y: contain;
}
html.transition, html.transition *, html.transition *:before, html.transition *:after {
    transition: ease-in-out 200ms;
    transition-delay: 0;
}
.col-sm-12 {
    background-color: var(--article-background-color);
    box-shadow: 5px 10px 8px 10px #111111;
    color: var(--color);
}
.article {
    position: static;
    line-height: 1.6;
    font-size: 15px;
}
.cardyly {
    background-color: var(--card-background-color);
    border-radius: 10px 10px 10px 3px;
    word-wrap: break-word;
}
dark-mode-toggle {
    z-index: -1;
}
#darkModeToggle {
    z-index: 3;
}
nav {
    z-index: 1;
}
#searchBox {
    z-index: 11;
    position: relative;
}
#livesearch {
    position: absolute;
    top: 38px;
    padding: 5px;
    background-color: var(--background-color);
    border-radius: 0px 0px 5px 5px;
    border-style: solid;
    border-width: thin;
    border-color:lightskyblue;
    text-decoration: none;
    z-index: 10;
    display: block;
}
#livesearch>a {
    color: var(--color);
    text-decoration: none;
}
#livesearch > a:hover {
    background-color: grey;
}
.card-deck .card {
    background-color: var(--card-background-color);
}
img {
  max-width: 100%;
  height: auto;
    word-wrap: break-word;
}
.mobilePics img{
    max-width: 40%;
}
